@import "../Common/common.scss";

.container {
  height: 100vh;
  @extend .flexRow;
  justify-content: flex-start;
  min-width: 320px;
  width: 30%;
  .actionsContainer {
    // flex: 0.5;
    height: 100%;
    min-width: 60px;
  }

  .detailSide {
    padding: 10px;
    height: 100%;
    // flex: 2;
    width: 100%;
    @extend .flexCol;
    justify-content: flex-start;
    // border-right: 1px solid rgba(0, 0, 0, 0.1);

    .search {
      @extend .flexRow;
      width: 100%;
      input {
        border: none;
        padding: 0;
        margin-left: 5px;
        width: 100%;
      }
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 10px 5px;
    }

    .chats {
      width: 100%;
      padding: 20px 0;
      h6:first-of-type {
        text-align: left;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.7);
        // font-family: "Playfair Display", serif;
      }
      .chat {
        width: 100%;
        cursor: pointer;
        @extend .flexRow;
        justify-content: flex-start;
        // border-bottom: 1.5px solid rgba(0, 0, 0, 0.08);
        background: white;
        // box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
        padding: 20px 10px;
        &:first-of-type {
          //   border-top: 1.5px solid rgba(0, 0, 0, 0.08);
          //   margin-top: 30px;
        }
        transition: all 0.2 ease-in-out;
        border-radius: 5px;
        margin: 10px 0;

        .chatUserInfo {
          padding-left: 10px;
          width: 70%;
          h6 {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.575);
            font-family: "Roboto", sans-serif;
            text-transform: capitalize;
          }
          p {
            color: rgba(0, 0, 0, 0.5);
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
      .selectedChat {
        @extend .chat;
        background: var(--secondaryColor);
        .chatUserInfo {
          h6 {
            color: var(--primaryColor);
          }
          p {
            color: #25323770;
          }
        }
      }
    }
  }
}
