.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCol {
  @extend .flexRow;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}
input {
  padding: 10px 5px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 4px;
  outline: none;
  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
}
